/*修改所有margin,padding为0*/
body,div{
margin:0px; padding:0; overflow-x:hidden;
}
body{
background-color:#466083;
margin-left:4px;
}
/*滚动条样式*/
html{
/*滚动条左上边框颜色*/scrollbar-base-color:#637996;
/*滚动条左上内阴影颜色*/scrollbar-highlight-color:#4e688b;
/*滚动条右下边框颜色*/scrollbar-shadow-color:#637996;
/*滚动条右下外阴影颜色*/scrollbar-darkshadow-color:#466083;
/*滚动条表面颜色*/scrollbar-face-color:#5d7698;
/*滚动条方向箭头的颜色*/scrollbar-arrow-color:#365071;
}
/*滚动条样式结束*/

#MN_pic{
width:141px;
height:47px;
background:url(../images/index_left_bg1.png);
background-repeat:no-repeat;
}
#MN_line{
width:140px;
height:2px;
margin-left:1px;
background:url(../images/index_left_line1.gif);
background-repeat:repeat-x;
}

/*左侧管理首页|网站首页样式*/
#MN_href{
width:141px;
padding-top:6px;
padding-bottom:6px;
text-align:center;
font-family:"宋体";
font-size:12px;
color:#e4e4e4;
}
#MN_href a:link{
font-family:"宋体";
font-size:12px;
color:#e4e4e4;
text-decoration:none;
}
#MN_href a:visited{
font-family:"宋体";
font-size:12px;
color:#e4e4e4;
text-decoration:none;
}
#MN_href a:hover{
font-family:"宋体";
font-size:12px;
color:#fdff46;
text-decoration:underline;
}
/*左侧管理首页|网站首页样式结束*/

#MN_menu{
width:141px;
padding-top:6px;
}