/*修改所有margin,padding为0*/
body,div{
margin:0px; padding:0;
}
/*第一条背景图片*/
#topbg1{
width:494px;
height:28px;
background:url(../images/index_top_bg1.png);
background-repeat:no-repeat;
float:left;
}
#topbg2{
width:100%;
height:28px;
background:url(../images/index_top_bg2.png);
background-repeat:repeat-x;
float:left;
}
/*第一条背景图片结束*/
/*欢迎信息*/
#welcome{
height:28px;
text-align:right;
padding-right:10px;
padding-top:8px;
font-family:"微软雅黑","宋体";
font-size:12px;
/*font-weight:bold;*/
color:#ffffff;
}
#welcome a:link{
font-family:"微软雅黑","宋体";
font-size:12px;
color:#fdff46;
text-decoration:none;
}
#welcome a:visited{
font-family:"微软雅黑","宋体";
font-size:12px;
color:#fdff46;
text-decoration:none;
}
#welcome a:hover{
font-family:"微软雅黑","宋体";
font-size:12px;
color:#fdff46;
text-decoration:underline;
}
/*欢迎信息*/

/*第二条背景*/
#topbg3{
width:353px;
height:83px;
background:url(../images/index_top_bg3.png);
background-repeat:no-repeat;
float:left;
}
#topbg4{
width:100%;
height:83px;
background:url(../images/index_top_bg4.png);
background-repeat:repeat-x;
float:left;
}
/*第二条背景结束*/

/*搜索*/
#search{
height:49px;
text-align:right;
padding-right:10px;
font-family:"微软雅黑","宋体";
font-size:12px;
/*font-weight:bold;*/
color:#ffffff;
}
/*搜索结束*/
/*时间*/
#time{
height:34px;
text-align:right;
padding-right:10px;
font-family:"微软雅黑","宋体";
font-size:12px;
color:#ffffff;
}
/*时间结束*/